.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .confirmation-message {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .exit-message {
    font-size: 18px;
    text-align: center;
  }
  